* {
  font-family: "Monospace";
  font-size: 11px;
}

.taffy-window * {
  background-color: #0f111a;
  color: #c8d3f5;
}

.workspace-content {
  padding: 0 10px;
}

.workspace-label {
  padding: 4px 10px;
  margin: 2px 3px;
  border-radius: 8px;
  background-color: #1b1f2a;
}

.active {
  color: #0f111a;
  background-color: #ffcc66;
  font-weight: 700;
}

.graph {
  min-width: 70px;
  margin: 0 8px;
}

.layout-label,
.clock-label {
  padding: 2px 10px;
}

.clock-label {
  font-size: 18px;
  font-weight: 700;
}

.text-clock-container,
.text-clock-container label,
.clock,
.clock label {
  font-size: 18px;
  font-weight: 700;
}
